body {
    background: #EDF2F7;
}

*{
    font-family: 'Rubik';
}

a{
    color: #FF6863;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}

#navbar {
    background: #ff9966;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff5e62, #ff9966);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-top: 5px solid #ff5e62;
    border-bottom: 3px solid #fff;
    box-shadow: 0 0 1px 1px rgba(20, 23, 28, .1), 0 3px 1px 0 rgba(20, 23, 28, .1);
}

#welcome {
    background: linear-gradient(20deg, rgba(20, 23, 28, 0.87), rgba(10, 9, 9, 0.692)), url('/images/bg-welcome.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.welcome-title {
    font-family: 'Lora', serif;
    font-weight: 700;
    color: #fff;
}

.post-card {
    background: #fff;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
    border-radius: 3px !important;
    border: none !important;
    margin-bottom: 30px;
}

#card-post{
    background: #fff;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
    border-radius: 3px !important;
    border: none !important;
    margin-bottom: 30px;
}

#get-solution {
    background: linear-gradient(to right, #434343, #000000), url('/images/coding.jpg');
}

.solution-title {
    font-family: 'Lora', serif;
    font-weight: 700;
    color: #fff;
}

.thumbnail-list {
    padding: 10px;
}

footer {
    border-top: 5px solid #ff5e62;
    background: #fff;
    padding: 40px 40px;
}

.bottom-widget {
    padding: 10px;
}

.bottom-widget p {
    margin: 0px;
}

.content-post, .about-writer, .about-comments, .card.sidebar {
    border: none !important;
    box-shadow: 0 0 7px 1px rgba(20, 23, 28, 0.068), 0 3px 1px 0 rgba(20, 23, 28, 0.062);
    border-radius: 0px !important;
}



.single-post.card-title {
    text-transform: capitalize;
    font-size: 26px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #4A5568;
    border-radius: 0px !important;
}



#isi-konten, #isi-komentar{
    padding: 40px !important;
}

#isi-konten p{
    font-size: 15px;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    line-height: 26px;
} 

#judul-artikel a:hover{
    font-style: normal;
    text-decoration: none;
}

#judul-artikel a{
    color: #FF6863;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
}

#diskripsi_artikel{
    font-size: 14px;
}
#section-title{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    font-size: 28px;
    color: rgb(80, 79, 79);
    line-height: 28px;
}

#section-subtitle{
    font-family: 'Rubik';
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
}

#welcome-subtitle{
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
    font-size: 16px;
}

#post-container{
    padding: 5px;
    
}

a#link-penulis{
    color: #FF6863;
    font-family: 'Roboto Condensed', sans-serif;
}

#title-footer{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
}

.btn-orange{
    background: #FF6863;
    color: #fff;
}

#title-teknologi{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    font-size: 18px;
    vertical-align: middle;
}

li.media {
    padding: 5px;
}

.bg-gray{
    background: #f5f6fa;
}

img.float-left.img-thumbnail.mr-3{
    border-radius: 50%;
    box-shadow: 0 2px 1px 1px rgba(124, 123, 123, 0.616);
}